In [18]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [19]:
data = pd.read_excel('c:/tcc/tcc/vendas.xls')
data.head(30)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

    CD_ITEM  QTDE  SEMANA  MES    UF  PGTO
0     26910     4      42   10  43.0     1
1     27912     1      32    8  43.0    39
2     27912   129      28    7  43.0    50
3     26910     8      24    6  43.0    43
4     27912    28      18    4  43.0    38
5     27912    11      16    4  43.0     1
6     27912    11      20    5  43.0     1
7     27912     8      12    3  43.0    50
8     27912     6      17    4  43.0     3
9     26910    11      27    7  43.0     3
10    26910    36      37    9  43.0    38
11    28687     6      16    4  43.0     2
12    27912    18      28    7  43.0    38
13    27912     3      31    8  43.0    59
14    27912     6      32    8  43.0    38
15    26910     5      29    7  43.0     6
16    26910    24      19    5  43.0     1
17    26910    68      35    8  43.0    50
18    28687     4      12    3  43.0    32
19    26910     2      32    8  43.0    59
20    26910    11      21    5  43.0     2
21    26910    76      28    7  43.0    50
22    27912     1      44   10  42.0     7
23    27912     2      18    5  35.0     3
24    28687     1      35    8  35.0     2
25    27912     1      48   11  33.0     2
26    27912     1      23    6  33.0     1
27    27912     1      25    6  33.0     1
28    27912    17      19    5  43.0     1
29    26910     6      26    6  43.0     1

In [20]:
data.corr()

          CD_ITEM      QTDE    SEMANA       MES        UF      PGTO
CD_ITEM  1.000000  0.018277 -0.118065 -0.117048 -0.053438 -0.079566
QTDE     0.018277  1.000000 -0.040887 -0.042425  0.086255  0.050799
SEMANA  -0.118065 -0.040887  1.000000  0.993744 -0.038465 -0.114118
MES     -0.117048 -0.042425  0.993744  1.000000 -0.036019 -0.113441
UF      -0.053438  0.086255 -0.038465 -0.036019  1.000000  0.115791
PGTO    -0.079566  0.050799 -0.114118 -0.113441  0.115791  1.000000

In [21]:
data.mean()

CD_ITEM    27527.903859
QTDE           9.122674
SEMANA        25.038939
MES            6.102343
UF            40.837129
PGTO          32.892488
dtype: float64

In [22]:
data.std()

CD_ITEM    683.160379
QTDE        36.786828
SEMANA      11.517033
MES          2.656517
UF           4.571419
PGTO        48.041973
dtype: float64

In [23]:
data.max()

CD_ITEM    28687.0
QTDE         893.0
SEMANA        52.0
MES           12.0
UF            53.0
PGTO         706.0
dtype: float64

In [24]:
data.min()

CD_ITEM    26910.0
QTDE           1.0
SEMANA         2.0
MES            1.0
UF            11.0
PGTO           1.0
dtype: float64

In [25]:
data.median()

CD_ITEM    26910.0
QTDE           2.0
SEMANA        23.0
MES            6.0
UF            42.0
PGTO          32.0
dtype: float64

In [26]:
data.quantile([0.25,0.75,0.80,0.85,0.9,0.95])

      CD_ITEM  QTDE  SEMANA   MES    UF   PGTO
0.25  26910.0   1.0    16.0   4.0  41.0    3.0
0.75  27912.0   6.0    33.0   8.0  43.0   50.0
0.80  27912.0   7.0    36.0   9.0  43.0   50.0
0.85  28687.0  10.0    38.0   9.0  43.0   50.0
0.90  28687.0  14.0    42.0  10.0  43.0   57.0
0.95  28687.0  25.0    46.0  11.0  43.0  100.0

In [27]:
#Chamar atenção para os dados faltantes
data.describe()

,CD_ITEM,QTDE,SEMANA,MES,UF,PGTO
count,2902.000000,2902.000000,2902.000000,2902.000000,2898.000000,2902.000000
mean,27527.903859,9.122674,25.038939,6.102343,40.837129,32.892488
std,683.160379,36.786828,11.517033,2.656517,4.571419,48.041973
min,26910.000000,1.000000,2.000000,1.000000,11.000000,1.000000
25%,26910.000000,1.000000,16.000000,4.000000,41.000000,3.000000
50%,26910.000000,2.000000,23.000000,6.000000,42.000000,32.000000
75%,27912.000000,6.000000,33.000000,8.000000,43.000000,50.000000
max,28687.000000,893.000000,52.000000,12.000000,53.000000,706.000000

In [28]:
#very easy and cleary explanation about how to create an histogram:
#https://gestaodesegurancaprivada.com.br/histograma-de-frequencia-conceito/
data['ApplicantIncome'].hist(bins=50)
plt.xlabel("Income", fontsize=12)
plt.ylabel("Frequency", fontsize=12)
#plt.xlim([0,1000])

KeyError: 'ApplicantIncome'

In [ ]:
data.boxplot(column='ApplicantIncome',showfliers=False)

In [ ]:
data.boxplot(column='ApplicantIncome',by='Education',showfliers=False)

In [ ]:
data['LoanAmount'].hist(bins=50)

In [ ]:
#Histogram
#n,bins,patches = plt.hist(x=data_to_plot, bins='auto',color='#0504aa', alpha=0.8,rwidth=0.95)
#n,bins,patches = plt.hist(x=data_to_plot, bins='auto',color='#0504aa')
#plt.grid(axis='y', alpha=0.75)
#plt.xlabel('Total Item Price')
#plt.ylabel('Frequency')
#plt.title('My Very Own Histogram')
#plt.text(5000, 90, r'$\mu=1845.4109, b=11243.2532$')
#maxfreq = n.max()
#plt.axis([0, 10000, 0, 100])
#plt.ylim(ymax=150)

# Set a clean upper y-axis limit.
#plt.ylim(ymax=np.ceil(maxfreq / 10) * 10 if maxfreq % 10 else maxfreq + 10)